@import "src/scss/colors";

.sort-control {
  display: flex;
  align-items: center;
  text-transform: uppercase;

  label {
    margin-right: 20px;
  }

  &-container {
    width: 140px;
  }

  &__indicator {
    color: $red;
    padding: 0;
  }

  &__menu {
    border-radius: 6px;
    background-color: $dark-grey;
  }

  &__menu-list {
    max-height: 150px;
    overflow: auto;
  }

  &__option {
    padding: 4px 6px;

    &:first-of-type {
      border-top-left-radius: 6px;
      border-top-right-radius: 6px;
    }

    &:last-of-type {
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
    }

    &:hover {
      background-color: $red;
    }
  }
}