@import "src/scss/colors";

.dialog {
  &-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    background-color: rgba($black, 0.9);
  }

  &-content {
    position: relative;
    min-width: 350px;
    max-width: 90%;
    max-height: 95%;
    overflow: auto;
    background-color: $black;
    padding: 20px;
  }

  &-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 40px;
    line-height: 50px;
    text-transform: uppercase;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }

  &-body {
    font-size: 20px;
    line-height: 24px;
  }

  &-close-button {
    position: absolute;
    top: 0;
    right: 10px;
    border: none;
    background-color: transparent;
    color: $white;
    cursor: pointer;
    font-size: 30px;
    padding: 0;
  }
}
